.logo {
    margin: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: -25px; */
    list-style: none;
}

.but {
    position: relative;
    justify-content: flex-end;
    display: flex;
    /* margin-top: -18px; */
}

.link {
    position: relative;
    /* width: 200px; */
}

.link:hover {
    background-color: rgb(220, 235, 235);
    border-radius: 20px;
}

.ul {
    position: relative;
    display: contents;
    list-style: none;
}